.DS_Store
.vscode/
*.jl.*.cov
*.jl.cov
*.jl.mem
*.pb.gz
deps/build.log
deps/deps.jl
deps/downloads/
deps/src/
deps/usr/
docs/build/
docs/Manifest.toml
docs/site/
docs/src/literate/*.md
test/Manifest.toml
JuliaSysimage.so