name: Documentation

on:
  push:
    branches: [master]
    tags: [v*]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PYTHON: ""
      DATADEPS_ALWAYS_ACCEPT: true
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - uses: julia-actions/setup-julia@780022b48dfc0c2c6b94cfee6a9284850107d037
        with:
          version: '1'
      - name: Install dependencies
        run: julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # For authentication with GitHub Actions token
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }} # For authentication with SSH deploy key
        run: julia --project=docs/ docs/make.jl