name: Downgrade
on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['1']
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - uses: julia-actions/setup-julia@3645a07f58c7f83b9f82ac8e0bb95583e69149e6
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/julia-downgrade-compat@a14e4360fde479696aacfa6f2b6b8ff538cd6c0f
        with:
          skip: Statistics,Random,LinearAlgebra,Test
      - uses: julia-actions/cache@580d2b69d895343992af2cbad49c32a0149c2cde
      - uses: julia-actions/julia-buildpkg@90dd6f23eb49626e4e6612cb9d64d456f86e6a1c
      - uses: julia-actions/julia-runtest@d0c4f093badade621cd041bba567d1e832480ac2