name: Downgrade
on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['1']
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: julia-actions/setup-julia@9b79636afcfb07ab02c256cede01fe2db6ba808c
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/julia-downgrade-compat@a14e4360fde479696aacfa6f2b6b8ff538cd6c0f
        with:
          skip: Statistics,Random,LinearAlgebra,Test
      - uses: julia-actions/cache@824243901fb567ccb490b0d0e2483ccecde46834
      - uses: julia-actions/julia-buildpkg@90dd6f23eb49626e4e6612cb9d64d456f86e6a1c
      - uses: julia-actions/julia-runtest@1e03e0122a598a569004c1e26950e2547b350ec0